@model List<MyTask>

@{
    ViewData["Title"] = "Список задач";
}

<h2> Список задач</h2>
<hr />
<p> <a asp-action="Create" class="btn btn-success">Создать новую</a> </p>

<ul class="list-group">
    @foreach (var task in Model)
    {
        <li class="list-group-item">
            <a asp-action="Details" asp-route-id="@task.TaskId">@task.TaskName</a>
        </li>

    }


</ul>